:root {
  /* Kleuren */
  --white: #ffffff;
  --black: #000000;
  --gray: #898989;
  --blue: #0071CE;
  --red: #ff0000;


  --main-font: "Arial", sans-serif;
  --text-color: var(--black);
  --title-size: 2rem;
}

body {
  margin: 0;
  font-family: var(--main-font);
  background-color: var(--white);
  color: var(--text-color);

  display: grid;
  grid-template-areas: 
    "header header"
    "nav main"
    "footer footer";
  grid-template-columns: 300px 1fr;
  grid-template-rows: 120px 805px 130px;
  background-color: var(--gray);

}


header {
  grid-area: header;
  background-color: var(--blue);
  color: var(--white);
  display: flex;
  align-items: center;
  padding: 0 20px;
  font-size: var(--title-size);
  margin: 0;
}


nav {
  grid-area: nav;
  background-color: var(--gray);
  padding: 15px;
}

nav ul li {
  margin: 5px;
}



footer {
  grid-area: footer;
  background-color: var(--blue);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  font-size: 0.9rem;
}



main {
  grid-area: main;
  background-color: var(--white);
  border-top-left-radius: 20px;
}