
:root {
--white: #ffffff;
--black: #000000;
--gray: #898989;
--blue: #0071CE;
--red: #ff0000;

}



body {
  display: grid;
  grid-template-areas: 
  "header header"
  "nav main"
  "footer footer";
grid-template-columns: 1fr 1fr;
grid-template-rows: 120px 1fr 60px;
}
header {
  grid-area: header;
  --h1-text:
}
nav{
  grid-area: nav;

}
main{
  grid-area: main;
  background-color: var(--main);
}
footer{
  grid-area: footer;
  background-color: var(--main);
}
